jupyter-book==1.0.2
sphinx-issues==4.1.0
sphinx-argparse==0.4.0
humanize==4.10.0
lmdb==1.5.1
tqdm==4.66.4
daiquiri==3.2.5.1
msprime==1.3.2
sgkit[vcf]==0.9.0
ipywidgets==8.1.3
Bio==1.7.1
bio2zarr==0.1.1
sphinx-book-theme #Unpinned to allow easy updating.
