include lib/*.h
include lib/subprojects/tskit/c/*.h
include lib/subprojects/tskit/c/tskit/*.h
include lib/subprojects/tskit/c/subprojects/kastore/*.h
include README.txt
include LICENSE
recursive-include tests *.py
