include lib/*.h
include git-submodules/tskit/c/*.h
include git-submodules/tskit/c/tskit/*.h
include git-submodules/tskit/c/subprojects/kastore/*.h
include README.txt
include LICENSE
recursive-include tests *.py
