attrs==21.4.0
colorama==0.4.4
daiquiri==3.0.1
humanize==4.1.0
matplotlib==3.5.2
numpy==1.21.6
pandas==1.4.2
pytest==7.1.2
pytest-xdist==2.5.0
seaborn==0.11.2
sortedcontainers==2.4.0
tqdm==4.64.0
tskit==0.5.3
zarr==2.11.3
