version: 2
jobs:
  build:
    docker:
      - image: circleci/python:3.6-stretch
    steps:
      - checkout
      - run:
          name: Install dependencies and set PATH
          command: |
              # Need hdf5 and gsl-dev for msprime. When we move to tskit we should 
              # be able to remove these.
              sudo apt-get install libcap-dev libnuma-dev libhdf5-dev libgsl-dev
              # way to set path persistently https://circleci.com/docs/2.0/env-vars/#setting-path
              echo 'export PATH=/home/circleci/.local/bin:$PATH' >> $BASH_ENV
      - run:
          name: Install package and test basic usage.
          command: |
              # Need to install numpy first or msprime doesn't build correctly.
              # Remove this when msprime fully depends on numpy.
              pip install numpy --user
              pip install . --user 
              tsinfer --help
              pip uninstall tsinfer --yes
      - run:
          name: Compile Python
          command: |
              python setup.py build_ext --inplace
      - run:
          name: Install development dependencies
          command: |
              pip install -r requirements/development.txt --user
      - run:
          name: Lint Python
          command: |
              flake8 --max-line-length 89 tsinfer setup.py tests
      - run:
          name: Run Python tests 
          command: |
              nosetests -v --with-coverage --cover-package tsinfer \
                  --cover-branches --cover-erase --cover-xml \
                  --cover-inclusive tests
              # python3 -m codecov -F python
      - run:
          name: Make sure we can build a distribution tarball.
          command: python setup.py sdist
      - run:
          name: Install from the distribution tarball
          command: |
               python -m venv venv
               source venv/bin/activate 
               pip install --upgrade setuptools pip
               pip install dist/*.tar.gz 
