build==1.2.2.post1
colorama==0.4.6
daiquiri==3.2.5.1
humanize==4.12.1
lmdb==1.6.2
matplotlib==3.9.4
meson==1.7.0
msprime==1.3.3
pytest==8.3.5
pytest-cov==6.0.0
seaborn==0.13.2
sgkit[vcf]==0.9.0
tskit==0.6.0
tqdm==4.67.1
twine==6.1.0
