name: Tests

on:
  pull_request:
  push:
    branches: [main, test]
  merge_group:

jobs:
  pre-commit:
    name: Lint
    uses: tskit-dev/.github/.github/workflows/lint.yml@v8

  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@v8
    with:
     cli-test-cmd: tsinfer --help

  test-c:
    name: C tests
    uses: tskit-dev/.github/.github/workflows/c-tests.yml@v8
    with:
      library-directory: lib

  test-python-c:
    name: Python-C tests
    uses: tskit-dev/.github/.github/workflows/python-c-tests.yml@v8

  zarr-v3-compatibility:
    name: Test zarr v3 error
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Setup venv
        run: |
          uv venv

      - name: Install zarr v3 and tsinfer
        run: |
          uv pip install -e .
          uv pip install --upgrade zarr

      - name: Test zarr v3 error
        run: |
          uv run --no-sync python -c "import tsinfer" 2>&1 | grep -q "zarr version.*is not supported"

  test:
    name: Python
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        python: [ 3.11, 3.13 ]
        os:  [ macos-latest, ubuntu-24.04, windows-latest ]
    defaults:
      run:
        shell: bash
    steps:
      - name: Cancel Previous Runs
        uses: styfle/cancel-workflow-action@0.12.1
        with:
          access_token: ${{ github.token }}

      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python }}
          version: "0.8.15"

      - name: Install Python dependencies
        run: uv sync --locked --group test

      - name: Build module
        run: uv run python setup.py build_ext --inplace

      - name: Run tests
        run: uv run pytest -xv --cov=tsinfer --cov-report=xml --cov-branch -n2

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5.4.0
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          flags: python
          fail_ci_if_error: true

