name: Tests

on:
  pull_request:
  push:
    branches: [main, test]
  merge_group:

jobs:

  packaging:
    name: Python packaging
    uses: tskit-dev/.github/.github/workflows/python-packaging.yml@v10
    with:
     cli-test-cmd: tsinfer --help

  test-c:
    name: C tests
    uses: tskit-dev/.github/.github/workflows/c-tests.yml@main
    with:
      library-directory: lib
    secrets: inherit

  test-python-c:
    name: Python-C tests
    uses: tskit-dev/.github/.github/workflows/python-c-tests.yml@main
    secrets: inherit

  test:
    name: Python
    uses: tskit-dev/.github/.github/workflows/python-tests.yml@main
    with:
      os: ${{ matrix.os }}
      python-version: ${{ matrix.python }}
      coverage-directory: tsinfer
    secrets: inherit
    strategy:
      matrix:
        python: [ 3.11, 3.13 ]
        os:  [ macos-latest, ubuntu-24.04, windows-latest ]

  zarr-v3-compatibility:
    name: Test zarr v3 error
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: "3.12"
          version: "0.8.15"

      - name: Setup venv
        run: |
          uv venv

      - name: Install zarr v3 and tsinfer
        run: |
          uv pip install -e .
          uv pip install --upgrade zarr

      - name: Test zarr v3 error
        run: |
          uv run --no-sync python -c "import tsinfer" 2>&1 | grep -q "zarr version.*is not supported"

